<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-success-emphasis">
        {{tagNames.join(', ')}}
    </strong>
    <h3 class="mb-0">{{ title }}</h3>
    <div class="mb-1 text-body-secondary">Nov 11</div>
    <p class="mb-auto">
      {{ description }}
    </p>
    <a [href]="link" class="icon-link gap-1 icon-link-hover stretched-link">
      {{ textLink }}
      <svg class="bi"><use xlink:href="#chevron-right" /></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img
      *ngIf="coverImage" [src]="coverImage"
      alt="Thumbnail"
      width="200"
      height="250"
      class="bd-placeholder-img"
    />
  </div>
</div>
