<div class="d-flex align-items-center py-4">
  <main class="form-signin w-100 m-auto">
    <form (ngSubmit)="register()">
      <img
        class="mb-4"
        src="assets/brand/bootstrap-logo.svg"
        alt="Bootstrap Logo"
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

      <div class="form-floating mt-4">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
          name="username"
          [(ngModel)]="registerRequest.username"
          required
        />
        <label for="username">Username</label>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="email@exemple.com"
          name="email"
          [(ngModel)]="registerRequest.email"
          required
        />
        <label for="email">Email</label>
      </div>


      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="*********"
          name="password"
          [(ngModel)]="registerRequest.password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="firstName"
          name="firstName"
          [(ngModel)]="registerRequest.firstName"
        />
        <label for="firstName">First Name</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="lastName"
          name="lastName"
          [(ngModel)]="registerRequest.lastName"
        />
        <label for="lastName">Last Name</label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="profilePicture"
          placeholder="url"
          name="profilePicture"
          [(ngModel)]="registerRequest.profilePicture"
        />
        <label for="profilePicture">Profile Picture URL</label>
      </div>

      <div class="form-floating">
        <textarea
          class="form-control"
          id="bio"
          placeholder="exemple ..."
          name="bio"
          rows="4"
          [(ngModel)]="registerRequest.bio"
        ></textarea>
        <label for="profilePicture">Bio</label>
      </div>


      <div class="form-check text-start my-3">
        <input
          class="form-check-input"
          type="checkbox"
          value="remember-me"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-body-secondary">
        Have an accout? <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login to your account</a>
      </p>
    </form>
  </main>
</div>
